

/*loading animation stuff*/

.loading-bar-container{
    width: 40vw;
    height: 40vh;
    border: .5rem solid black;
    position: absolute;
    left:50%;
    top: 50%;
    

}

.loading-bar{
    background-color: orange;
    height: 100%;
    width: 100%;
  /*  animation-name: load;
    animation-duration: 4s;
    animation-fill-mode: forwards; */

    animation: load 4s forwards;
}






@keyframes load {
    to{
width: 100%;
background-color: red;
    }
}


/*waiting-circle stuff*/

.waiting-circle{
    width:25vw;
    height:25vw;
    

    border-radius: 50%;
    border-top:2em solid black; 
    border-bottom: 2em solid blue;

    animation:wait 2s infinite linear;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@keyframes wait{
    to{
        transform: translate(-50%, -50% ) rotate(360deg);
    }
}