.title{
    background-color: rgb(249, 192, 101);
    padding:10px;
    margin:auto;
    text-align: center;
    padding: 1rem;
}
body{
background-color:antiquewhite;
}

h2{
    background-color:antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: inherit;
    font-size: 1.5vw;
    margin:1rem;
}

h3{
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:inherit;
    font-size:1.em;
    margin:1 rem;
}

h4{
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: inherit;
    margin: 1 rem;

}


ul{
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: inherit;
    font-size: larger;
    margin: 1 rem;
}

p{
    background-color:antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:inherit;
    font-size: larger;
    margin:2.5rem 5rem;
}
img{
    position:static;
}